<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}
  <title>
    Об авторе проекта
  </title>  
{% endblock %}
{% block content %}
  <main>
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            <h1>Привет, я автор</h1>
              <p>
                Тут я размещу информацию о себе, используя свои умения верстать.<br>
                Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
              </p>
          </div>
        </div>
      </div>
    </div>
  </main>   
{% endblock %}            