<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}
  <title>
    Технологии
  </title>  
{% endblock %}
{% block content %}
  <main>
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            <h1>Вот что я умею:</h1>
              <p>
                Питонить на питоне.<br>
                Джанговать на джанге. 
              </p>
          </div>
        </div>
      </div>
    </div>
  </main>    
{% endblock %}            