<!-- templates/users/singup.html -->
<!DOCTYPE html> 
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  <title>
    Редактирование профиля
  </title>   
{% endblock %}
{% block content %}
  <main>
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Редактирование профиля</div>
            <div class="card-body">
            {% load user_filters %} 
              {% if form.errors %}
                {% for field in form %} 
                  {% for error in field.errors %}            
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endif %}
              <form method="post" enctype="multipart/form-data" action="{% url 'users:edit' profile_id=user.profile.id %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-4">
                    {% for field in user_form %}
                    <div class="form-group">
                      {{ field.label_tag }}
                      <div>{{ field }}</div>
                      <div class="error">{{ field.errors }}</div>
                      <p>
                    </div>
                    {% endfor %}
                    {% if user.profile.photo %}
                      <div class="card">
                        <label for="id_photo">
                          Фото сейчас:                 
                        </label> <a href="/media/{{ user.profile.photo.name }}"> {{ user.profile.photo.name }}</a>
                        <label for="photo-clear_id">Очистить:</label>
                        <p>
                        <input type="checkbox" name="photo-clear" id="photo-clear_id">
                        <input type="file" name="photo" accept="photo/*" class="form-control" id="id_photo">
                        <p> 
                      </div>
                      {% else %}
                      <label for="id_photo">
                        Фото              
                      </label>
                      <p>
                      <p>
                      <input type="file" name="photo" accept="photo/*" class="form-control" id="id_photo">
                    {% endif %}
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      {{ profile_form.about.label_tag }}
                      <div>{{ profile_form.about }}</div>          
                    </div>
                    {% if user.profile.photo %}
                      <div class="card">
                        {% thumbnail user.profile.photo "1280x720" upscale=True as im %}
                          <img class="card-img my-2" src="{{ im.url }}">
                        {% endthumbnail %}
                      </div>
                    {% endif %}
                    </div>
                  <p>  
                  <div>
                    <button type="submit" class="btn btn-primary">
                      Сохранить
                    </button>
                  </div>
                </form>
            </div> 
          </div> 
        </div> 
    </div>
  </main>
{% endblock %} 