<!-- templates/posts/includes/post_list.html -->
{% load thumbnail %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "1280x720" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>{{ post.text }}</p>
        <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a><br>    
        {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a><br> 
        {% endif %}
        <br> 
        <a class="nav-link" 
          href="{% url 'posts:post_detail' post.id %}"
        >
        <button type="submit" class="btn btn-primary">Детали</button>
      </div>
    </div>
  </div>
</div> 