<!-- templates/posts/follow.html -->
{% extends 'base.html' %}
{% block title %}
  <title>
    Ваши подписки
  </title>  
{% endblock %} 
{% block content %}
  <main>
    <div class="container py-5">     
      <h1>Последние обновления авторов</h1>
      <hr> 
      <article>
        {% include 'posts/includes/switcher.html' %}
        {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}       
        {% endfor %}
        <hr>         
      </article>
    </div>
  </main>  
  {% include 'includes/paginator.html' %}
{% endblock %}