<!-- templates/posts/post_detail.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  <title>
    Пост: {{ post.text|truncatechars:30 }}
  </title>
{% endblock %}
{% block content %} 
  <main>
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            <div class="row justify-content-center">
              <div class="row">
                <aside class="col-12 col-md-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      Дата публикации: {{ post.pub_date|date:"d E Y" }}
                    </li>
                    {% if post.group %}   
                      <li class="list-group-item">
                        Группа: {{ post.group.title }}<br>
                      <a href="{% url 'posts:group_list' post.group.slug %}">
                        все записи группы
                      </a>
                      </li>
                    {% endif %}
                    <li class="list-group-item">
                      Автор: {{ post.author.get_full_name }}<br>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Всего постов автора:  <span >{{ count }}</span>
                    </li>
                    <li class="list-group-item">
                      <a href="{% url 'posts:profile' post.author.username %}">
                        все посты пользователя
                      </a>
                    </li>
                  </ul>
                </aside>
                <article class="col-12 col-md-9">
                  <div class="row justify-content-center">
                  {% thumbnail post.image "1280x720" upscale=True as im %}
                    <img class="card-img my-2" src="{{ im.url }}">
                  {% endthumbnail %}
                    <div class="card-header">
                      <p>
                        {{ post.text }}
                      </p>
                      {% csrf_token %}
                      {% if post.author == request.user %} 
                      <a class="nav-link" 
                        href="{% url 'posts:post_edit' post.id %}"
                      >
                      <button type="submit" class="btn btn-primary">Редактировать</button>
                      {% endif %}
                      </a>
                    </div>   
                  </div>                 
                </article>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'posts/post_comment.html' %}       
  </main>
{% endblock %}
