<!-- templates/posts/post_search.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  <title>
    Результаты поиска
  </title>  
{% endblock %} 
{% block content %}
  <main>
    <div class="container py-5">     
      <h1>Результаты поиска</h1>
      <hr> 
      <article>
        {% if not page_obj %}
          Никого не найдено по запросу {{ query }}
        {% endif %}
        {% for group in page_obj %}
          <div class="row justify-content-center">
            <div class="col-md-8 p-5">
              <div class="card">
                <div class="card-header">
                    <h2> {{ group.title }} </h2>
                  {% if group.description  %}   
                    {{ group.description }}
                  {% endif %}
                  <br> 
                  <br>
                  <a class="nav-link" 
                    href="{% url 'posts:group_list' group.slug %}"
                  >
                  <button type="submit" class="btn btn-primary">Записи группы</button>
                </div>
              </div>
            </div>
          </div>        
        {% endfor %}
      </article>
    </div>
  </main>
  {% include 'includes/paginator.html' %}
{% endblock %}