<!-- templates/posts/profile.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  <title>
    Профайл пользователя {{ author.get_full_name }}
  </title>  
{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <div class="row">       
        <h1> {{ author.get_full_name }} </h1>
        <div class="col-2">
        {% thumbnail author.profile.photo "1280x720" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        </div> 
        <div class="col-3">
          <h3> О себе: </h3>
          {{ author.profile.about }}
        </div> 
      </div> 
      <h3>Всего постов: {{ author.posts.count }} </h3> 
      {% if follow_button %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
      <hr>   
      <article>
        {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}                  
        {% endfor %}
        <hr>   
      </article> 
    </div>
  </main>
{% include 'includes/paginator.html' %}
{% endblock %}